@font-face {
  font-family: "Droid Serif Regular";
  src: url(DroidSerif-Regular.ttf);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li, footer {
  font-family: "Droid Serif Regular", "Droid Serif", "Lora", Bookman, Georgia;
  font-weight: normal;
  color: black;
}

.title {
  text-align: center;
}

ul, ol {
  padding-left: 1.5rem;
}
ul h5 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
ul h5:first-child {
  margin-top: 0;
}