@import '../static/normalize.scss'

$bg-color: #000000
$active-color: #3bd8ec

@font-face
  font-family: "Roboto"
  src: url('../static/robotolight.ttf')

*
  box-sizing: border-box !important

html, body
  background: $bg-color

div, h1, h2, h3, h4, h5, h6, p, li, footer, a, button
  font-weight: normal
  color: white
  font-family: "Roboto", Verdana, "Droid Serif", "Lora", Bookman, Georgia

.main, .content
  min-height: 100vh

.main
  position: fixed
  top: 0
  left: 0
  width: 40vw
  text-align: center
  display: flex
  align-items: center
  justify-content: center

.content
  width: calc(60vw - 2rem)
  height: 100vh
  position: absolute
  right: 0
  top: 0

.main-img
  width: 60%

a, button
  cursor: pointer

button
  background: none
  border: none
  outline: none

.button-text
  color: $active-color

.main .title:first-child
  margin-top: 0

.title
  text-align: center

.modules
  display: flex
  flex-wrap: wrap

.week-item
  margin-bottom: 0.2rem

.module-block
  width: 50%
  padding: 0.5rem

@media screen and (max-width: 768px)
  .main, .content
    position: static
    margin: 0
    padding: 0
    border: none
    outline: none
    width: 100%
  .modules
    display: block
    padding: 1rem
    height: auto !important
  .module-block
    width: 100%

@media screen and (min-width: 768px) and (max-width: 1200px)
  .content
    display: block
  .module-block
    width: 100%